[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django = "*"
requests = "*"
scikit-learn = "*"
numpy = "*"
pandas = "*"
imbalanced-learn = "*"
jsonfield = "*"
typing = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
